* {
	margin: 0;
	padding: 0;
}

body{
	margin:0px;
}
iframe{
	
	padding-right: 3px;
	
	border-color: #bfbfbf;
	
	border-style: solid;
	
}
.ubw-container{
	position:absolute;
	left:0px;
	top:0px;
	
}

.ubw-body{
	margin-top: -1px
}

.ubw-inspector{
	position:absolute;
	background-color:rgb(252, 252, 252);
	z-index: 99;
	border:1px solid #cccccc;	
	line-height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:20px;
	color:#333333;
}


/*BUTTONS*/

.ubw-button-wrapper{
	float:left;
	position:relative;
	/*border:solid 1px red;*/
	margin-right:-7px;
	z-index:0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:30px;
	overflow:visible;
}

.ubw-button-canvas{
	width:auto;
	float:left;
	position:relative;
	overflow:visible;
}

table{
	line-height:90%;
}

.ubw-button-body{
	position:relative;
	float:left;
	
	width:auto;
	height:auto;
	overflow:visible
	
	text-align:center;
	vertical-align:middle;		
			
	cursor:pointer;		
}

.ubw-dropdown{
	z-index: 0;
	margin: 0;
	padding: 0;
	font-size: 15px;
	width:100px;
	list-style: none;
	cursor:pointer;
	float: left;
	/*margin-left:-25px;*/
}
	
	.ubw-dropdown li.out{
		padding-left: 5px;
		color:#444444;
		border-left:1px solid rgb(231, 231, 233);
		border-right:1px solid rgb(231, 231, 233);
		background-image: url(../images/button_out.gif);
		
	}
	
	.ubw-dropdown li.over{
		padding-left: 5px;
		color:#eeeeee;
		border-left:1px solid rgb(140, 140, 140);
		border-right:1px solid rgb(140, 140, 140);
		background-image: url(../images/button_out_dark.png);
	}
	
	.ubw-dropdown li.ubw-dropdown-top-corners{
		border-top:1px solid rgb(241, 241, 244);
	}
	
	.ubw-dropdown li.ubw-dropdown-bottom-corners{
	    border-bottom:1px solid rgb(221, 221, 223);
	}


.ubw-button-content{
	margin:2px;
	height:auto;
	width:auto;
	text-align:center;
	overflow:visible;
}


.ubw-button-over{
	color:#444444;
	background-image: url(../images/button_out.gif);
	border-left:1px solid rgb(221, 221, 221);
	border-right:1px solid rgb(221, 221, 221);
	border-bottom:1px solid rgb(211, 211, 211);
	border-top:1px solid rgb(231, 231, 231);
}

.ubw-button-out{
	color:#555555;
	background-image: url(../images/button_out.gif);
	border-left:2px solid rgb(231, 231, 233);
	border-right:2px solid rgb(231, 231, 233);
	border-bottom:2px solid rgb(221, 221, 223);
	border-top:2px solid rgb(241, 241, 244);
}

span.colored{
	color: #0080ff;
}