
#head{ display:none }
#thumbnails{ display:none }
.board-button{ display:none }
#menu-button-full{ display:none }
#menu-button-showthumbnails{ display:none }
#menu-button-showdetails{ display:none }
#embed-menu-list{ display:block; text-align:left; }
#embed-menu-list li{ display:block }

#menu-button-export{ margin-right:0px; }

#menu-button-previous{ background:url(../images/menu-button-previous.embed.png); width:32px }
#menu-button-previous.disabled{ background:url(../images/menu-button-previous-disabled.embed.png) }
#menu-button-previous:hover{ background:url(../images/menu-button-previous-over.embed.png) }
#menu-button-next{ background:url(../images/menu-button-next.embed.png); width:32px }
#menu-button-next.disabled{ background:url(../images/menu-button-next-disabled.embed.png) }
#menu-button-next:hover{ background:url(../images/menu-button-next-over.embed.png) }
.menu-box-left{letter-spacing:normal}

#menu-share-dropdown{ top:-80px; left:10px; margin:0px; }

#head-button-full-embed-canvas{
  overflow:visible;
  height:13px;
  width:17px;
  display:inline-block;
  margin-right:5px;
}

#head-button-full-embed{
  background:url(../images/head-button-full.embed.png);
  height:17px;
  width:17px;
  display:inline-block;
}

#head-embed{
  display:block;
  position:absolute;
  top:0px;
  width:100%;
  height:20px;
  margin-top:15px;
  text-align:right;
  font-size:12px;
}

#head-embed-box-left{
  margin-left:20px;
  float:left;
}

#head-embed-box-right{
  margin-right:20px;
  float:right;
}

#body{
  padding-top:45px;
  padding-bottom:65px;
}

#foot{
  height:54px;
  margin-top:-54px;
  background-image:none;
  background-color:rgb(236, 237, 238);/*
  border:6px solid rgb(236, 237, 238);
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;*/
}

#menu-bottom{
  padding:0px 20px 0px 20px;
}

.menu-box-right{
  text-align:left;
}

#logo-uniboard{
  display:none;
}

.thumbnail.index{
  height:75px;
}