
body {
 position: fixed;
 overflow: hidden;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
}

#thumbnails-slider {
 display: none;
}

#thumbnail-previous, #thumbnail-next {
 top: 15px;
}

.board {
 padding-bottom: 185px;
}

#thumbnails {
 height: 32px;
}

.thumbnail{
  width: none;
  height: 80px;
}

.thumb-img {
  width: none;
  height: none;
}

#current-page {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

#page-img {
  height: 100%;
  width: 100%;
  display: block;
}

#boards {
  display: table;
  height: 100%;
}

.board {
  display: table-cell;
}

