
body {
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
}

a{ color:red }
span{ font-weight:normal }
input{ border:1px solid rgb(190, 191, 192); display:inline-block; height:13px;margin:0px; }
label{ display:block; margin-top:15px; }

#head-embed {
  height: 100%;
}

#head {
  position: absolute;
  top: 0;
  left: 0;
  display:block;
  margin:0;
  width:100%;
  z-index:1;
  background-color: #FFFFFF;
}

#embed-menu-list{
  display:none;
}

.menu{
  display:table-cell;
  vertical-align:middle;
  letter-spacing:-3px;
  height:31px;
}

.menu.bottom{
  display:block;
  position:relative;
  padding:0px 20px 0px 20px;
  color:#666;
  font-size:12px;
  height:55px;
}

.menu-box { 
  width:33.2%; 
  height:31px; 
  display:-moz-inline-stack;
  display:inline-block; 
  zoom:1;
  *display:inline;
  vertical-align:middle; 
  margin-top:12px; 
  position:relative 
}
.menu-box-left{ text-align:left }
.menu-box-center{ text-align:center; line-height:30px }
.menu-box-right{ text-align:right; letter-spacing:normal; }

.dropdown ul{
  line-height:20px;
  text-align:left;
  padding:5px 10px 5px 10px;
  width:100%;
  letter-spacing:normal;
  background-color:white;
  border:1px solid rgb(210, 211, 212);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.dropdown ul li{ border-bottom:1px solid #efefef }
.dropdown ul li:last-child{ border-bottom:0px }
.dropdown ul li.over{ background-color:red }
.dropdown ul li a.over{ color:red }
.dropdown ul li a.disabled{ color:#ccc }
.dropdown ul li a{ color:#666; text-decoration:none; }

.menu-list{
  text-align:right;
  text-indent:24px;
  line-height:18px;
  font-size:12px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.menu-list li{
  display:inline-block;
  margin-left:10px;
  margin-right:10px;
}

#menu-list-full{ background:url(../images/head-button-full.embed.png) no-repeat 0px 0px }
#menu-list-share{ background:url(../images/head-button-share.embed.png) no-repeat 0px 0px }
#head-list-close{ background:url(../images/head-button-close.png) no-repeat 0px 0px; display:none }
#head-list-closeDescription{ background:url(../images/head-button-close.png) no-repeat 0px 0px; display:none }
#head-list-infos{ background:url(../images/head-button-infos.png) no-repeat 0px 0px }
#head-list-share{ background:url(../images/head-button-share.embed.png) no-repeat 0px 0px }

#head-button-close{ background:url(../images/head-button-close.png); position:relative; display:none; width:17px; height:17px; float:right;margin:25px 50px 0px 0px; }
#logo-uniboard{ position:relative; float:right; margin-top:8px; }

#document-title{
  font-weight:normal;
  letter-spacing:normal;
  text-align:right;
  margin:auto;
  margin-top:28px;
  font-size:12px;
}

#document-links{
  margin:auto;
  position:relative;
}

#page-img{
    width:100%;
    height:100%;
}

#document-title span{
  font-weight:bold;
}

#document-title ul{
  width:200px;
  display:inline-block;
}

#data-document-author{
  font-weight:normal;
}

#document-title img{
  margin-right:5px;
  vertical-align:bottom;
  margin-bottom:2px;
}

#app-viewer-background{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:2;
  background-color:black;
  opacity:0;
  display:none;
}

#app-viewer{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:3;
  letter-spacing:normal;
  font-size:12px;
}

#app-viewer-c{
  height:100%;
  width:100%;
  position:relative;
  margin:auto;
  top:0px;
  text-align:center;
  display:table;
}

#app-viewer-appcanvas{
  height:100%;
  width:100%;
  position:relative;
  margin:auto;
  display:table-cell;
  vertical-align:middle;
}

#app-viewer-appborder{
  background-color:white;
  position:relative;
  display:inline-block;
  padding-top:10px;
}

#app-viewer-app{
  position:relative;
}

#app-viewer-menu{
  text-align:center;
  height:20px;
  width:100%;
  position:absolute;
  top:100%;
  margin-top:-32px;
}

#app-viewer-button-close-canvas{
  overflow:visible;
  height:13px;
  width:17px;
  display:inline-block;
  margin-right:5px;
}

#app-viewer-button-close{
  background:url(../images/head-button-close.png);
  height:17px;
  width:17px;
  display:inline-block;
}

#boards{ background-color:rgb(232, 233, 235); overflow:visible; display:table; text-align:center; height:100%; width:100%; position:relative; margin:auto; }
.board{ display:table-cell; vertical-align:middle; width:100%; height:100%; letter-spacing:-5px }
.board-button-unit{ height:51px; width:32px; top:50%; position:absolute; margin-top:-25px;display:none;z-index:2; }
#board-button-previous{ background:url(../images/board-button-previous.png) center left no-repeat; left:0px; }
#board-button-previous:hover{ background-image:url(../images/board-button-previous-over.png) }
#board-button-next{ background:url(../images/board-button-next.png) center right no-repeat; left:100%; margin-left:-32px; }
#board-button-next:hover{ background-image:url(../images/board-button-next-over.png) }

.page{ display: block; margin:auto; height:100% }
#current-page{ position:relative; z-index:0; height:100%; background-color:white; border:1px solid rgb(210, 211, 212); }

#thumbnails{ display:block; padding:0px 20px 10px 20px; height:32px; overflow:hidden; position:relative; text-align:center; background:url(../images/thumbnail-background.png) repeat; }
#thumbnails-slider{ position:relative; height:24px; margin-top:16px; margin-bottom:8px }
#thumbnails-slider-handler{ text-align:center; letter-spacing:normal;line-height:18px;height:28px; width:25px; position:relative; top:-13px; background:url(../images/slider-handler.png);color:#eeeeee;font-size:10px; }
.thumbnails-slider-page{ position:relative; display:block; float:left; height:100%; width:100%; background:url(../images/thumbnails-slider-odd.png) no-repeat center right; cursor:pointer }
.thumbnails-slider-page.last{ background-position: center left } 
.thumbnails-slider-page:hover{ background-image: url(../images/thumbnails-slider-odd.over.png) } 
.thumbnails-slider-page.current{ background-image:url(../images/thumbnails-slider-current.png) }
.thumbnail{
  cursor:pointer;
  height:80px;
  width:auto;
  display:inline-block;
  position:relative;
  border:1px solid rgb(210, 211, 212);
  margin-left:6px;
  margin-right:6px;
  margin-top: 12px;
  margin-bottom: 12px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

#thumbnails-canvas{
  position:relative;
  width:auto;
}

#thumbnail-previous{ cursor:pointer; background:url(../images/thumbnails-previous.png) center center no-repeat}
#thumbnail-previous.disabled{ background-image:none}
#thumbnail-next{ cursor:pointer; background:url(../images/thumbnails-next.png) center center no-repeat }
#thumbnail-next.disabled{ background-image:none }

.thumbnail.current{ border:2px solid red }
.thumbnail.selected{ border:1px solid red }

.thumbnail.index{
  height:100px;
  margin-bottom:6px;
  display:inline-block;
}

#index{ 
  position:relative; 
  width:100%; 
  height:auto; 
  overflow:auto; 
  text-align:center; 
  vertical-align:middle; 
  display:none; 
  margin:auto;
  margin-top: 50px;
}

#description{ 
  position:relative;
  display:none;
  margin:auto;
  width:400px;
  height:auto;
  overflow:auto;
  text-align:left;
  line-height:30px;
  color:#333;
  font-size:14px;
  padding:30px 30px 30px 30px;
  background-color:white;
  border:1px solid rgb(210, 211, 212);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

#description-text{
  background:url(../images/board-description-background.png);
  width:370px;
  padding:5px 15px 0px 15px;
}

#sharing{
  position:relative;
   display:none; 
   margin:auto;
   width:300px;
   height:auto;
   overflow:auto;
   text-align:left;
   line-height:15px;
   color:#333;
   font-size:12px;
   padding:15px 30px 25px 30px;
   background-color:white;
   border:1px solid rgb(210, 211, 212);
   box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
   -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
   -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

#sharing textarea{
  width:250px;
  height:45px;
  border:1px solid rgb(190, 191, 192);
  resizable:none;
  margin:none;
  font-family:helvetica, arial, sans-serif;
  font-size:12px;
  color:#333;
}

#sharing-text{
  background:url(../images/board-description-background.png);
  display:block;
  width:300px;
  height:auto;
  width:250px;
  padding:0px 15px 0px 15px;
}

#sharing-button-close{
  position:absolute;
  left:100%;
  margin-left:-17px;
  top:0px;
  height:17px;
  width:17px;
  background:url(../images/head-button-close.png);
}

#foot{
  display:block;
  position: absolute;
  vertical-align:middle;
  letter-spacing:-4px;
  bottom: 0;
  left: 0;
  width:100%;
  height:96px;
}

#foot-inner {
  position:relative; 
  height:100%;
}

#menubottom-input{
  text-align:right;
  width:2em;
  font-color:#333;
  margin-right:2px;
  color:#666;
  font-size:12px;
  font-family:helvetica, arial, sans-serif;
}

.appImg{
    cursor:pointer;
}

.middle{height:7px;margin-left:7px;margin-right:7px}

#sankorebody {
  display: block;
  overflow:hidden;
  vertical-align:middle;
  text-align:center;
  z-index:0;
  height:100%;
  width:100%;
}

#thumbnail-previous, #thumbnail-next {
  width:40px; 
  height:80px; 
  position:absolute; 
  top:45px; 
  color:red; 
  font-size:10px; 
  line-height:80px;
  text-decoration:underline; 
  letter-spacing:normal;
}

#thumbnail-previous {
  left: 0px;
}

#thumbnail-next {
  left:100%;
  margin-left:-41px;
}

#head-list-back { 
  background:url("../images/head-button-close.png") no-repeat 0px 0px; 
}

/*
Player Controls
----------------------------------------------------------------------
*/
#playerControls {width: 100%;}
#playerControlsinner {
  background: url("../images/playercontrolsbg.png") no-repeat center center;
  height: 20px; width: 531px;
  margin: 0 auto; padding: 15px 0; 
  list-style: none;
  text-align: center;
  overflow: hidden;
}

#playerControlsinner li   { float: left; display: inline; padding: 0 10px;}
#playerControlsinner li img { display: block;  border: 0 none; cursor: pointer; }

#pcleftend { margin-left: 175px;}
#pcleft {}
#pcrightend {}
#pcrightend {}

li#pccounter { 
  background: #C4C6C8;
  color: #656565;
  padding: 0 10px 0 0;
  border-radius: 4px;
  margin-left: 45px;
  padding-left: 0;
}
#pccounter input { width: 30px; margin: 0; padding: 3px 0 3px 5px; box-shadow: inset 1px 1px 3px #AAA;}

