[Board]
PenLightBackgroundColors=#000000, #FF0000, #004080, #008000, #C87400, #800040, #008080, #5F2D0A
PenDarkBackgroundColors=#FFFFFF, #FF3400, #66C0FF, #81FF5C, #FFFF00, #B68360, #FF497E, #8D69FF
MarkerAlpha=0.5
MarkerLightBackgroundColors=#E3FF00, #FF0000, #004080, #008000, #C87400, #800040, #008080, #000000
MarkerDarkBackgroundColors=#FFFF00, #FF4400, #66C0FF, #81FF5C, #B68360, #FF497E, #8D69FF, #FFFFFF
PenLightBackgroundSelectedColors=#000000, #FF0000, #004080, #008000
PenDarkBackgroundSelectedColors=#FFFFFF, #FF3400, #66C0FF, #81FF5C
MarkerLightBackgroundSelectedColors=#E3FF00, #FF0000, #004080, #008000
MarkerDarkBackgroundSelectedColors=#FFFF00, #FF4400, #66C0FF, #81FF5C
ZoomFactor=1.41
PenColorIndex=0
MarkerColorIndex=0
PenPressureSensitive=true
MarkerPressureSensitive=false
DarkBackground=0
EraserCircleWidthIndex=1
CrossedBackground=0
PenLineWidthIndex=0
ClockPaletteIsVisible=true
PagePaletteIsVisible=true

[License]
Key=

[App]
IsInSoftwareUpdateProcess=false
EnableAutomaticSoftwareUpdates=true
ToolBarDisplayText=true
PageCacheSize=20
ToolBarPositionedAtTop=true
LicenseIsAccepted=false

[SVG]
ViewBoxMargin=50

[Document]
EmptyGroupNames=@Invalid()
